<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OSM Building Information</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link th:href="@{/css/buildinginfo.css}" rel="stylesheet" />
<script src="/js/datatable.js"></script>

</head>
<body>
  <body>
    <div th:fragment="footer">
     UV Riaydh & Islam &copy; 2018
    </div>
  </body>
</html>